* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f4f7fa;
  /* padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px; */
  padding: 50px;
}

p {
  font-size: 14px;
  color: #56575c;
}

section {
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.icon {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  margin-right: 10px;
}

.learn-more-button {
  padding: 10px 20px;
  background-color: #4caf4f;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.new-line {
  display: block;
}

.section-content {
  float: right;
  padding: 50px;
  width: 50%;
}

.section-content h2 {
  color: #4d4d4d;
  line-height: 1.2;
  margin-bottom: 10px;
}

.section-content p {
  margin-bottom: 20px;
}

.section-image {
  float: left;
  text-align: right;
  width: 50%;
}

.stats-container {
  padding-left: 50px;
  float: right;
  width: 50%;
}

.stats-container + .stats-container {
  margin-top: 20px;
}

.stats-item {
  width: 40%;
  float: left;
}

.stats-item-content {
  float: left;
  padding: 5px;
}

.stats-item-number {
  color: #4d4d4d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stats-item-text {
  color: #717171;
}

.title-container {
  float: left;
  width: 50%;
}

.title-container h2 {
  color: #4d4d4d;
  line-height: 1.2;
  margin-bottom: 3px;
}

.title-container h2 span {
  color: #4caf4f;
}
